---
import i18next, { t, changeLanguage, setDefaultNamespace } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.jsx";
import PageBanner from "../components/PageBanner.astro";
import Staff from "../components/Staff.astro";
import LanguageSelectorWrapper from "../components/LanguageSelectorWrapper.astro";
import { getNavTranslations } from "../utils/index";

changeLanguage("es");

setDefaultNamespace("about");
const navTranslations = getNavTranslations(t);
const valueList = [
    "values.efficiency",
    "values.punctuality",
    "values.loyalty",
    "values.confidence",
    "values.quality",
    "values.security",
];
const staffTitle = t("staff.title");
---

<html lang={i18next.language}>
    <head>
        <MainHead
            title="About | Encarnación Service SRL"
            description="About Encarnación Service SRL"
        />
        <HeadHrefLangs />
    </head>
    <body class="bg-gradient-to-b from-white to-gray-100">
        <Nav
            location="about"
            translations={navTranslations}
            language={i18next.language}
            client:load
            ><LanguageSelectorWrapper />
        </Nav>
        <PageBanner
            alt="Two men reviewing some documentation next to a warehouse shelf"
            title=""
            image="/astro-template/images/warehouse_team_2.jpeg"
            format="jpeg"
            titleClasses="block text-black"
        />
        <main class="mx-auto px-4 md:p-6 md:w-10/12 lg:w-10/12 xl:w-8/12">
            <div>
                <h2
                    class="text-4xl md:text-5xl font-semibold my-4 px-1 py-1 md:px-4"
                >
                    {t("title")}
                </h2>
                <article class="grid gap-x-8 grid-cols-12 md:px-6">
                    <div
                        class="col-span-10 min-[350px]:col-span-12 md:col-span-6"
                    >
                        <p class="mb-3">{t("intro.p1")}</p>
                        <p class="mb-3">{t("intro.p2")}</p>
                    </div>
                    <div
                        class="col-span-10 min-[350px]:col-span-12 md:col-span-6"
                    >
                        <p class="mb-3">{t("intro.p3")}</p>
                        <p class="mb-3">{t("intro.p4")}</p>
                    </div>
                </article>
                <article class="grid gap-x-8 grid-cols-12 md:px-6">
                    <div
                        class="col-span-10 min-[350px]:col-span-12 md:col-span-6"
                    >
                        <h3 class="text-2xl md:text-2xl font-semibold my-1">
                            {t("mission.title")}
                        </h3>
                        <p class="mb-3">{t("mission.description")}</p>
                    </div>

                    <div
                        class="col-span-10 min-[350px]:col-span-12 md:col-span-6"
                    >
                        <h3 class="text-2xl md:text-2xl font-semibold my-1">
                            {t("vision.title")}
                        </h3>
                        <p class="mb-3">{t("vision.description")}</p>
                    </div>
                </article>
            </div>
            <div class="md:px-6">
                <h3 class="text-2xl md:text-2xl font-semibold my-1">
                    {t("values.title")}
                </h3>
                <dl
                    class="mt-10 space-y-1 grid grid-cols-2 gap-x-6 sm:gap-y-8 sm:space-y-0 lg:grid-cols-4 lg:gap-x-8"
                >
                    {
                        valueList.map((item) => (
                            <div class="relative">
                                <dt>
                                    <svg
                                        class="absolute h-6 w-6 text-green-500"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke-width="1.5"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="M4.5 12.75l6 6 9-13.5"
                                        />
                                    </svg>
                                    <p class="ml-9 text-lg font-medium leading-6 text-gray-900">
                                        {t(item)}
                                    </p>
                                </dt>
                            </div>
                        ))
                    }
                </dl>
            </div>
            <Staff title={staffTitle} />
        </main>
        <Footer />
    </body>
</html>
