---
const { title, description, icon, href, linkText } = Astro.props;
---

<div class="pt-8 px-12 drop-shadow-2xl">
    <div class="flow-root rounded-lg bg-white bg-opacity-90 min-h-full">
        <div class="-mt-6">
            <div>
                <span
                    class="inline-flex items-center justify-center rounded-md bg-fulvous-100 p-3 shadow-lg"
                >
                    <img class="h-6 w-6 text-white" src={icon} />
                </span>
            </div>
            <h3
                class="text-center mt-2 mb-4 text-3xl font-medium tracking-tight text-gray-600"
            >
                {title}
            </h3>
            {
                description && (
                    <p class="mt-5 text-base text-gray-700">{description}</p>
                )
            }
            {
                href && (
                    <a
                        href={href}
                        class="text-dodger-blue-100 hover:text-dodger-blue-500"
                    >
                        {linkText}
                    </a>
                )
            }
        </div>
    </div>
</div>
